#bar {
    border: 5px solid #fccca0;
    color:rgb(16, 26, 119);
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
    padding: 10px;
    font-size: 20px;

}

h1 {
    text-align: center;
    margin: 40px;
    padding: 20px;
    font-size: 40px;

    border-color: rgba(22, 116, 123, 0.828);
    border-width: 10px;
    border-style: solid;
}

body {
    background-color: #7297edd7; 
    color: #5a0000;
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;

}

#About {
    margin: 10px 25px;
    padding: 5px;
    text-align: center;
}

#Experience {
    margin: 10px 25px;
    padding: 20px;
    border-color: rgba(156, 86, 255, 0.828);
    border-width: 10px;
    border-style: dashed;
    ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid rgba(156, 86, 255, 0.828);
        border-radius: 12px;
        padding: 20px;
    }
}

#Skills {
    ul{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        gap: 60px;
    }
}

#apps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#Connect {
    margin: 10px 25px;
    padding: 5px;
    a:link, a:visited {
        background-color: #109c6b;
        color: rgb(255, 255, 255);
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
      
      a:hover, a:active {
        background-color: red;
    }
}


#Submit {
    margin: 10px 25px;
    padding: 20px;
    border-color: rgba(3, 76, 37, 0.828);
    border-width: 10px;
    border-style: solid;
    text-align: center;
    color:#41290a;
}

#Messages {
    margin: 10px 25px;
    padding: 20px;
}



h2 {
    font-size: 30px;
    font-weight: bold;
    color: #8a0078;
}


/* Tablets */
@media (min-width: 500px) {

    h1{
        text-align: center;
        margin: 20px;
        padding: 25px;
        font-size: 35px;
    
        border-color: rgb(81, 180, 51);
        border-width: 5px;
        border-radius: 25px;
    }



    body{
        background-color: #d38cffd7;
        color: #4c2802;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        margin: 0;

    }

    #About{
        margin: 30px 100px;
        padding: 2px;
        text-align: center;
        font-size: 22px;
        color: #012819;
        font-family: "Lucida Console", "Courier New", monospace;

    }

    #Skills {
        ul{
            display: grid;
            grid-template-columns: 200px 200px 200px 200px;
            gap: 60px;
            font-size: 25px;
            color: #001a6e;
            list-style: upper-roman;
        }
    }

    #Submit {
        margin: 10px 25px;
        padding: 20px;
        border-color: rgb(16, 118, 63);
        border-width: 10px;
        border-style: solid;
        text-align: center;
        color:#41290a;

        input {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            font-size: 25px;
          }


        
        .boton {
            background-color: #064a10;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
    
        }
    }
    
    #Messages {
        margin: 10px 25px;
        padding: 20px;
        color:#004554;
        font-size: 20px;
        ul {
            border: 2px solid rgba(29, 8, 59, 0.828);
            border-radius: 12px;
            padding: 40px;
        }

        li {
            margin: 25px;
        }
    }

}



/* Larger Screens (laptops & desktops) */

@media (min-width: 1000px) {

    #bar {
        border: 5px solid #860202;
        border-radius: 15px;
        color:rgb(22, 87, 0);
        display: flex;
        justify-content: space-evenly;
        margin: 25px 0;
        padding: 15px;
        font-size: 24px;
    
    }

    body{
        background-color: #ffacdced;
        color: #2f0076;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        margin: 0;

    }

    #Experience {
        margin: 20px 25px;
        padding: 40px;
        border-color: rgba(208, 20, 20, 0.887);
        border-width: 5px;
        border-style: double;
        border-radius: 15px;
        ul {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-between;
            border: 2px solid rgba(18, 10, 29, 0.828);
            padding: 10px;
            font-size: 18px;
        }
    }

    #Skills {
        ul{
            display: grid;
            grid-template-columns: 220px 220px 220px 220px;
            gap: 80px;
            font-size: 25px;
            color: #41290a;
            list-style: square;
        }
    }

   
    #Submit {
        margin: 10px 25px;
        padding: 20px;
        border-color: rgb(14, 79, 201);
        border-width: 10px;
        border-style: solid;
        text-align: center;
        color:#006421;

        input {
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            font-size: 20px;
          }


        
        .boton {
            background-color: #06184a;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
    
        }
    }
    
    #Messages {
        margin: 10px 25px;
        padding: 20px;
        color:#8c2323;
        font-size: 20px;
        ul {
            border: 2px solid rgb(30, 174, 99);
            border-radius: 12px;
            padding: 40px;
        }

        li {
            margin: 30px;
        }
    }
}